
<div class="container shadow-sm pb-3 bg-white rounded">
  <div class="row">
    <div class="col-12">
      <app-header [header]="data?.header" ></app-header>
      
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-supplier [supplier]="data?.supplier"></app-supplier>
      
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <img class="collapse-img" [class.arrow]="isCollapsed" data-toggle="collapse" data-target="collapseExample" src="../assets/uparrow.svg" alt="uparrow">
      <button type="button" class="btn btn-link" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        Addresses
      </button>

    </div>
  </div>
    <div class="card-flex" id="collapseExample" [ngbCollapse]="isCollapsed"><!-- address card description -->
        <app-card [address]="a" *ngFor="let a of data?.addresses"></app-card>
    </div><!-- finish address card description -->
</div>